@using HotelApp.Models.Others
@using Microsoft.AspNetCore.Identity
@using HotelApp.Utility
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject UserManageProfile UserManagerProfile
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Bôi đen trang -->
        <div class="container-fluid bg-white px-0">
            <!-- Kh có khoảng trống ngang giữa các cột trong các hàng đó -->
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <h1 class="m-0 text-primary text-uppercase">Booking.com</h1>
                    </a>
            </div>
                <div class="col-lg-9">
                    <div class="row gx-0 bg-dark d-none d-lg-flex">
                        <div class="col-lg-7 px-5 text-start">
                            <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                                <i class="fa fa-envelope text-primary me-2"></i>
                                <p class="mb-0">vutienthanh250903@gmail.com </p>
                            </div>
                            <div class="h-100 d-inline-flex align-items-center py-2">
                                <i class="fa fa-phone-alt text-primary me-2"></i>
                                <p class="mb-0">+84 968734627</p>
                            </div>
                        </div>
                        <div class="col-lg-5 px-5 text-end">
                            <div class="d-inline-flex align-items-center py-2">
                                <a class="me-3" href="https://www.facebook.com/vutienthanh2509"><i class="fab fa-facebook-f"></i></a>
                                <a class="me-3" href="https://x.com/tienthanhh_vu"><i class="fab fa-twitter"></i></a>
                                <a class="me-3" href="https://www.linkedin.com/in/vu-tien-thanh-fgw-dn-52b171307/"><i class="fab fa-linkedin-in"></i></a>
                                <a class="me-3" href="https://www.instagram.com/covac.stork/"><i class="fab fa-instagram"></i></a>
                                <a class="" href="https://github.com/Thanh250903"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a href="index.html" class="navbar-brand d-block d-lg-none">
                            <h1 class="m-0 text-primary text-uppercase">Booking</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="nav justify-content-center">
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a asp-area="Admin" asp-controller="Users" asp-action="Index">List of Accounts |</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Identity" asp-controller="Users" asp-action="ConfirmAccount"> List of confirm account</a>
                                </li>
                            }
                            else
                            {
                                <div class="navbar-nav mr-auto py-0 justify-content-between">
                                    <div class="navbar-nav mr-auto py-0">
                                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-item nav-link ">Home</a>
                                        <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-item nav-link ">Privacy</a>
                                        <a asp-area="" asp-controller="Home" asp-action="AboutUs" class="nav-item nav-link ">About Us</a>
                                        <a asp-area="" asp-controller="Home" asp-action="Services" class="nav-item nav-link ">Services</a>
                                        <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-item nav-link">Contact</a>
                                    </div>
                                </div>
                            }
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Owner"))
                            {
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">More</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a asp-area="Owner" asp-controller="Hotel" asp-action="CreateHotel" class="dropdown-item">Create Hotel</a>
                                    <a asp-area="Owner" asp-controller="Hotel" asp-action="Index" class="dropdown-item">List of Hotel</a>
                                    <a href="testimonial.html" class="dropdown-item">Review</a>
                                </div>
                              @*   <li class="nav-item">
                                    <a asp-area="Owner" asp-controller="Hotel" asp-action="CreateHotel">Create hotel</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Owner" asp-controller="Hotel" asp-action="Index">Hotel information</a>
                                </li>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">More</a>
                                    <div class="dropdown-menu rounded-0 m-0">
                                        <a asp-area="Owner" asp-controller="Hotel" asp-action="CreateHotel" class="dropdown-item">Create Hotel</a>
                                        <a asp-area="Owner" asp-controller="Hotel" asp-action="Index" class="dropdown-item">List of Hotel</a>
                                        <a asp-area="" asp-controller="Home" asp-action="ManageUser" class="dropdown-item">User</a>
                                        <a href="testimonial.html" class="dropdown-item">Review</a>
                                    </div>
                                </div> *@
                            }
                            @if (User.IsInRole("Staff"))
                            {
                                <li class="nav-item">
                                    <a asp-area="Staff" asp-controller="Article" asp-action="MyArticles">My Contribution</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Staff" asp-controller="Article" asp-action="SemesterList">Choose Semester</a>
                                </li>
                            }
                        </ul>
                        @{
                            // Lấy thông tin người dùng hiện tại
                            var userPicture = await UserManagerProfile.GetUserPictureAsync(User);
                        }
                        <ul class="navbar-nav">
                            @if (User.IsInRole("Admin") || User.IsInRole("Owner") || User.IsInRole("Staff") || User.IsInRole("User"))
                            {
                                <p id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><b style="color:coral">Hello,  </b> <span style="color: #FEA116">@UserManager.GetUserName(User)</span></p>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Edit Profile</a>
                                    <div class="dropdown-menu rounded-0 m-0">
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index">
                                            <img src="@userPicture" alt="User_Avatar" style="width: 150px; height: 150px; border-radius:50%;" />
                                        </a>
                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Change Password">Change Password</a>
                                    </div>
                                </div>
                            }
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0"><b 
                                               style="font-size: 15px; text-transform: uppercase; background-color: white; color: black; padding: 10px 15px; border-radius: 5px;"
                                               onmouseover="this.style.backgroundColor='#0056b3'; this.style.color='white';"
                                               onmouseout="this.style.backgroundColor='white'; this.style.color='black';">Logout</b>
                                        </button>
                                    </form>
                                </li>
                            }
                        </ul>
                    </div>
                    <div>
                        <partial name="_LoginPartial" />
                    </div>
                    </nav>
               

    </div>
            <div class="container-fluid">
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                        <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
                        <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/img/hotel1.jpg" class="d-block w-100" alt="Slide 1" style="width:auto; height: 350px; border-radius:15px" />
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/hotel2.jpg" class="d-block w-100" alt="Slide 2" style="width:auto; height: 350px; border-radius:15px" />
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/hotel3.jpg" class="d-block w-100" alt="Slide 3" style="width:auto; height: 350px; border-radius:15px" />
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/hotel4.jpg" class="d-block w-100" alt="Slide 4" style="width:auto; height: 350px; border-radius:15px" />
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/hotel5.jpg" class="d-block w-100" alt="Slide 5" style="width:auto; height: 350px; border-radius:15px" />
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
                 @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HotelApp</a> *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                </div>
            </div>
    </div>
      
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--Footter-->
        <div class="container pb-10">
            <div class="row g-5">
                <div class="col-md-6 col-lg-4">
                    <h6>Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i> 658 Ngo Quyen, Da Nang, Viet Nam </p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+84 968734627  </p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>vutienthanh250903@gmail.com </p>
                    <div class="d-flex">
                        <a class="me-3" href="https://www.facebook.com/vutienthanh2509"><i class="fab fa-facebook-f text-secondary"></i></a>
                        <a class="me-3" href="https://x.com/tienthanhh_vu"><i class="fab fa-twitter text-secondary"></i></a>
                        <a class="me-3" href="https://www.linkedin.com/in/vu-tien-thanh-fgw-dn-52b171307/"><i class="fab fa-linkedin-in text-secondary"></i></a>
                        <a class="me-3" href="https://www.instagram.com/covac.stork/"><i class="fab fa-instagram text-secondary"></i></a>
                        <a class="" href="https://github.com/Thanh250903"><i class="fab fa-github text-secondary"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="border-top footer bg-dark text-muted" style="margin-top: auto">
            <div class="container text-center text-light text-uppercase">
                © 2024 - Booking.com <i class="bi bi-house" style="margin-right: 15px;"></i>
                <a asp-area="" asp-controller="Home" asp-action="Index" style="margin-right: 15px; color: white" >Home</a>
                <a asp-area="" asp-controller="Home" asp-action="Privacy" style="margin-right: 15px; color: white">Privacy</a>
                <a asp-area="" asp-controller="Home" asp-action="AboutUs" style="margin-right: 15px; color: white " >About Us</a>
                <a asp-area="" asp-controller="Home" asp-action="Services" style="margin-right: 15px; color: white ">Services</a>
                <a asp-area="" asp-controller="Home" asp-action="Contact" style="margin-right: 15px; color: white">Contact</a>
            </div>
        </footer>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

   



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
