@model List<HotelApp.Models.Hotel.Hotel>

@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}

<div class="row pt-4 pb-4">
    <div class="col-6">
        <h2 style="text-transform:uppercase"> List of Hotels</h2>
    </div>
</div>

<div>
    <div class="col-6 text-right">
        <a asp-controller="Hotel" asp-action="CreateHotel" class="btn btn-primary">Create a Hotel</a>
    </div>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Hotel Name</th>
                <th>Description</th>
                <th>City</th>
                <th>Phone Number</th>
                <th>Average Rating</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotel in Model)
            {
                <tr>
                    <td>@hotel.HotelName</td>
                    <td>@hotel.Description</td>
                    <td>@hotel.City</td>
                    <td>@hotel.NumberPhone</td>
                    <td>@hotel.AverangeRating</td>
                    <td>@hotel.Lattitube</td>
                    <td>@hotel.Longitude</td>
                    <td>
                        @if (!string.IsNullOrEmpty(hotel.ImageUrl))
                        {
                            <img src="@hotel.ImageUrl" alt="Hotel Image" style="width: 100px; height: auto;" />
                        }
                        else
                        {
                            <p>The image not available</p>
                        }
                    </td>
                    <td>
                        <a asp-controller="Hotel" asp-action="EditHotel" asp-route-id="@hotel.HotelId" class="btn btn-primary btn-sm" onclick="return confirm('Are you sure?')">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a asp-controller="Hotel" asp-action="DeleteHotel" asp-route-id="@hotel.HotelId" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                        <a asp-controller="Room" asp-action="CreateRoom" asp-route-id="@hotel.HotelId" class="btn btn-success btn-sm">
                            <i class="fas fa-house-user"></i> Add Room
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
