@model List<HotelApp.Models.Hotel.Hotel>
<partial name="_Notification" />
<div class="row pt-4 pb-4">
    <div class="col-6">
    <h2> List of hotel</h2>
    </div>
    <div class="col-6">
        <a asp-controller="Hotel" asp-action="CreateHotel" class="btn btn-primary"> Create a Hotel </a>
    </div>
</div>

<div >
    <table class="table table-bordered">
         <thread>
             <tr>
                    <td>HotelName</td>
                    <td>Description</td>
                    <td>City</td>
                    <td>NumberPhone</td>
                    <td>AverangeRating</td>
                    <td>Lattitube</td>
                    <td>Longitude</td>
             </tr >
         </thread>    
         <tbody>
            @foreach (var hotel in Model)
            {
                <tr>
                       <td>@hotel.HotelName</td>
                       <td>@hotel.Description</td>
                       <td>@hotel.City</td>
                       <td>@hotel.NumberPhone</td>
                       <td>@hotel.AverangeRating</td>
                       <td>@hotel.Lattitube</td>
                       <td>@hotel.Longitude</td>
                       <td>
                           <a asp-controller="Hotel" asp-action="EditHotel" asp-route-id="@hotel.HotelId" class="btn btn-primary"> Edit </a>
                           <a asp-controller="Hotel" asp-action="DeleteHotel" asp-route-id="@hotel.HotelId" class="btn btn-danger"> Delete </a>
                       </td>
                </tr>
            }
        </tbody>
    </table>
</div>